@font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/BebasNeue-webfont.eot');
    src: url('../fonts/BebasNeue-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue-webfont.woff2') format('woff2'),
         url('../fonts/BebasNeue-webfont.woff') format('woff'),
         url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('../fonts/BebasNeue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}